<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="max64box" src="{{product.avatar}}" alt="Photo of a itme">
    <mat-card-title>{{product.id}}</mat-card-title>
    <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
  <!-- <mat-card-actions class="marginLeftZero">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>